body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

.container {
    width: 60%;
    color: rgb(217, 128, 5);
    margin: 30px auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(224, 163, 89, 0.1);
    padding-left: 20px;
    
    backdrop-filter: blur(100%);
    background-color: rgba(250, 230, 220, 0.5);


}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    object-fit: cover;
}

.container h2 {
    color: #8e6315;
    text-shadow: 0 0 20px #c88e07;
}

.form-group1 {
    margin-bottom: 15px;
    margin-left: 15px;
     background-color: rgba(180, 174, 168, 0.8);

   
}

.form-group {
    margin-bottom: 15px;
    margin-left: 20px;

}
#plat{
     background-color: rgba(180, 174, 168, 0.8);
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input {
    background: rgba(255, 162, 0, 0.8);
    height: 25px;
    line-height: 40px;
    border-radius: 10px;
    padding: 0px 20px;
    width: 500px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    border-color: #ea9503c0;
    align-items: center;
    display: flex;
    background-color: rgba(180, 174, 168, 0.8);

}

.inpo {
    margin-right: 30px;
}

.inpo :valid {
    border: solid 3px rgb(176, 111, 5);
    box-shadow: 0 0 15px rgb(255, 203, 91);

}

.inpo :invalid {
    border: solid 3px rgb(57, 100, 175);
    box-shadow: 0 0 15px rgb(216, 106, 103);
}

#boton {
    box-shadow: 0 0 10px rgb(228, 128, 29);
    margin-left: 20px;
    width: 100%;

}


input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}


.row {
    display: flex;
    gap: 10px;
}

.row .form-group {
    flex: 1;
}


button {
    width: 100%;
    padding: 12px;
    background: #ea8a4a;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 20px rgb(148, 143, 143);
}

button:hover {
    background: #f1b367;
}


.total {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}